<div class="d-xl-none">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        <img src="../images/fineicon.png" alt=""> Штрафы ГИБДД
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="d-none d-xl-block"><img src="../images/finegibdd.png"
                                                        srcset="../images/finegibdd@2x.png 2x" alt=""></div>
                    <div>sometxt</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <img src="../images/dutyicon.png" alt=""> Пошлины ГИБДД
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="d-none d-xl-block"><img src="" alt=""></div>
                    <div>sometext2</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <img src="../images/judgeicon.png" alt=""> Судебные задолженности
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="d-none d-xl-block"><img src="../images/judge.png" srcset="../images/judge@2x.png 2x"
                                                        alt=""></div>
                    <div>sometext3</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <img src="../images/taxicon.png" alt=""> Налоги
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="d-none d-xl-block"><img src="../images/tax.png" srcset="../images/tax@2x.png 2x" alt="">
                    </div>
                    <div>sometext4</div>
                </div>
            </div>
        </div>
        {{>
        cards
            description='sometext5'
            title='Услуги Росреестра'
            icon='reestr'
            paramid='collapsefive'
        }}
    </div>
</div>