<div class="container">
    <div class="row">
        <div class="col d-none d-xl-block">
            <button class="btn btn-outline-primary">Войти</button>
        </div>
        <div class="col text-center">
            <img src="./../images/logo.png" srcset="./../images/logo@2x.png 2x" alt="">
        </div>
        <div class="col text-right">
            <div class="btn-group">
                <i class="fa fa-bars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                </i>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                </div>
            </div>
            <a class="helpme" href="">Помощь</a>
        </div>
    </div>
</div>
