<div class="container">
    <div class="row">
        <div class="col text-center"><img src="../images/partnerone.png" alt="">
            <p>partner one</p></div>
        <div class="col text-center"><img src="../images/partnertwo.png" alt="">
            <p>partner two with long name</p></div>
        <div class="w-100"></div>
        <div class="col text-center"><img src="../images/partnerthree.png" alt="">
            <p>partner three</p></div>
        <div class="col text-center"><img src="../images/partnerfour.png" alt="">
            <p>partner four</p></div>
        <div class="w-100"></div>
        <div class="col text-center"><img src="../images/partnerfive.png" alt="">
            <p>partner five</p></div>
        <div class="col text-center"><img src="../images/partnersix.png" alt="">
            <p>partner six with long name</p></div>
    </div>
</div>